<!DOCTYPE html>
<html>
  <head>
      <title>Ficha Catalográfica</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon"/>
      <link rel="stylesheet" href="static/css/jquery-ui-1.10.3.custom/redmond/jquery-ui-1.10.3.custom.css" type="text/css" />
      <link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css" type="text/css" />
      <link rel="stylesheet" href="static/css/bootstrap/bootstrap-theme.min.css" type="text/css" />
      <link rel="stylesheet" href="static/css/bootstrap/dspace-theme.css" type="text/css" />
      <link rel="stylesheet" href="static/css/customDspace.css" type="text/css" />
      <link rel="stylesheet" href="util/css/CustomForm.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="util/js/bootstrap.min.js"></script>

  </head>

  <body>
    <footer class="navbar navbar-inverse footer" >
      <div id="designedby" class="container text-muted">
                <a href="http://www3.uea.edu.br/">
          				<img class="img-logo-button" src="image/logo-uea.png" alt="Logo UEA" />
                </a>
                  <span class="pull-left text-uea">
                      UNIVERSIDADE DO ESTADO DO AMAZONAS<br>
                      Sistema Integrado de Bibliotecas SIB/UEA<br>
                      +55 92 98410-6272 - bibliotecacentral@uea.edu.br<br>
                  </span>
  			   <div id="footer_feedback" class="pull-right">
                      <img class ="img-ibict-logo" src="image/bannerIbict.png"
             alt="Logo Ibict"/>
           </div>
  			</div>
    </footer>